################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/RactJS/Store/WebApplication/.vs/WebApplication

# Ignora las librerias descargadas via NPM
/node_modules
