/*  
  
  Components

*/

body {
  align-items: center;
  background: #333;
  display: grid;
  height: 100vh;
  justify-items: center;
}

.users {
  color: #fff;
}

.users__user {
  background: #222;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  display: inline-block;
  grid-template-columns: 100px auto;
  margin: 1em;
}

.users__user:after {
  content: "";
  background-image: linear-gradient(to top left,#ff8a00,#da1b60);
  grid-column: span 2;
  height: 3px;
  position: relative;
  width: 100%;
}

.users__avatar {
  min-width: 100px;
}

.users__meta {
  margin-left: 1em;
  padding-right: 1em;
}

.users h1 {
  line-height: 0;
}


/* Thumbnail */
/* 
.Thumbnail-Wrapper{
  border-style: solid;
}


.results {
  text-align: left;
}

.results ul li {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}


.results ul li .name {
  display: block;
  text-align: center;
  width: 200px;
}

.results a img {
  width: 200px;
} */